@import '../../../variables.scss';

.empty-basket {
  text-align: center;
  img {
    width: 100%;
    max-width: 250px;
    margin: 42px auto 16px auto;
  }
  h2 {
    color: $color-gray-light;
    font-size: 18px;
  }
}