@import '../../variables.scss';

.step-input {
  display: flex;
  display: -webkit-flex;
  color: $color-gray-medium;
  max-width: 120px;
  margin: 0 auto;
  .increase,
  .decrease {
    height: 24px;
    width: 24px;
    border: 1px solid $color-gray-dark;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50%;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    line-height: 22px;
    -moz-user-select: none;
    -webkit-user-select: none;
    &:hover {
      color: $color-red;
      border-color: $color-red;
    }
    &:active {
      color: $color-white;
      border-color: $color-red;
      background: lighten($color-red, 15%);
    }
  }
  .quantity {
    height: 24px;
    width: 48px;
    text-align: center;
    margin: 0 12px;
    border-radius: 2px;
    border: 1px solid $color-gray-dark;
    &:focus {
      outline: none;
      border-color: $color-light-green;
    }
  }
}
