@import "./_reset.scss";
@import "./variables.scss";
@import './components/Header/Header.scss';
@import './components//Counter/Counter.scss';
@import './components/Product/Product.scss';
@import './components/Products/Products.scss';
@import './components/Counter/Counter.scss';
@import './components/Footer/Footer.scss';
@import './components/EmptyStates/EmptyBasket/EmptyBasket.scss';
@import './components//EmptyStates/NoResults/NoResults.scss';
@import './components/QuickView/QuickView.scss';

body {
  position: relative;
  color: $color-black;
  background-color: #fff;
  font-family: "ArgosBook", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: $color-black;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

h1, :global(.h1) {
  font-size: 30px;
  margin: 30px 0;
  text-align: center;
}

h2, :global(.h2){
  font-size: 28px;
  margin-bottom: 30px;
  
  &:global(.header) {
    font-size: 22px;
    margin: 0;
  }
}

p {
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
}

.products-container {
  display: flex;
  display: -webkit-flex;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 32px;
}
